<!-- Footer -->
<footer class="footer">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-4">
				<span class="copyright">Copyright &copy; Your Website 2019</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					{{ with .Site.Params.Twitter }}
					<li class="list-inline-item">
						<a href="{{ . }}">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					{{ end }}
					{{ with .Site.Params.Facebook }}
					<li class="list-inline-item">
						<a href="{{. }}">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					{{ end }}
					{{ with .Site.Params.LinkedIn }}
					<li class="list-inline-item">
						<a href="{{ . }}">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					{{ end }}
					{{ with .Site.Params.Email }}
					<li class="list-inline-item">
						<a href="mailto:{{ . }}">
							<i class="far fa-envelope"></i>
						</a>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-inline quicklinks">
					<li class="list-inline-item">
						<a href="#">Privacy Policy</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Terms of Use</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- Javascript required for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>