<nav class="navbar">
	<a class="brand" href="{{ .Site.BaseURL }}">{{ .Site.Params.Nickname }}</a>
	<ul class="nav-list">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		{{ $isSection := or ($currentPage.IsMenuCurrent `main` .) ($currentPage.HasMenuCurrent `main` .) }}
		{{ $isSection = or $isSection (and (ne $currentPage.FirstSection $currentPage.CurrentSection) (eq $currentPage.Name .Name)) }}
		<li class="{{ if $isSection }} active {{ end }}">
			<a class="nav-item" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
		</li>
		{{ end }}
	</ul>
</nav>