<div id="{{ .Get `id` }}" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{{ $first := 1 }} {{ range $key, $val := .Params }}
		{{ if (ne $key "id")}} {{if $first}}{{ $first = 0 }}
		<div class="carousel-item active">
		{{else}}
		<div class="carousel-item">
		{{end}}
			<img src="{{$key}}" class="d-block w-100" alt="{{$val}}">
		</div>{{end}}{{end}}
	</div>
	<a class="carousel-control-prev" href="#{{ .Get `id` }}" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#{{ .Get `id` }}" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>